section {
  width: 100vw;
  height: 100vh;
}
.on {
  background-color: lightblue;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #000;
}

canvas {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.text-box {
  font-size: 4vw;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  left: 10vw;
  top: 10vw;
}
.text-box .gradient-text .text-1 {
  color: #fff;
}

.text-box .gradient-text .text-2 {
  width: 30vw;
  background: linear-gradient(90deg, #ef85d1, #f6b278 49.92%, #9598ff 100.06%),
    #d9d9d9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-box .gradient-text .text-3 {
  color: #fff;
}

.text-box .text-4 {
  font-size: 2vw;
  line-height: 1;
  color: #817ad8;
  font-weight: 600;
  margin-top: 6vw;
}
